<h1 class="mt-4">
  Experiments
  <div class="float-right">
    <%= link_to 'Current Experiments', experiments_path, class: 'btn btn-outline-default' %>
    <%= link_to 'New Experiment', new_experiment_path, class: 'btn btn-outline-success' %>
  </div>
</h1>

<%= render partial: 'list', locals: { experiments: @experiments } %>
