<h1>Archived Experiments List</h1>
<h3><i class="material-icons">edit</i> Edit</h3>
<h3><i class="material-icons">bar_chart</i> Results</h3>
<h3><i class="material-icons">filter_none</i> Clone</h3>
<p>
  Make a new copy of the experiment including all the variants and overlays.
</p>
<h3><i class="material-icons">unarchive</i> Unarchive</h3>
<p>
  Show the experiment on the main list page again.
</p>
