<h1>Experiments List</h1>
<h3><i class="material-icons">edit</i> Edit</h3>
<h3><i class="material-icons">bar_chart</i> Results</h3>
<h3><i class="material-icons">filter_none</i> Clone</h3>
<p>
  Make a new copy of the experiment including all the variants and overlays.
</p>
<h3><i class="material-icons">archive</i> Archive</h3>
<p>
  Hide the experiment from this main list page. You can still find it and unarchive it by clicking 'Archived Experiments'.
</p>
