<h1>Experiment results</h1>
<p>This page shows the live results of your experiment - it will automatically update without you refreshing the page.</p>
<p>As the experiment gathers more data, ShareHarder will direct more people towards the variants that are performing best. There is no need to turn the experiment off. Once it is certain about the winner, nearly all sharers will be directed to the winning variant</p>

<ul>
  <li>Shares = the number of times someone has shared the variant on Facebook</li>
  <li>Clicks = how many clicks back to the site this variant has generated</li>
  <li>How many goals - e.g. signups - this variant has generated</li>
</ul>

<h2>% of time chosen</h2>
<p>The algorithm starts off randomly choosing variants for people to share. As results start coming in, it updates to give more people the leading variants. The "% of time chosen" is the current split of variants that are being served. Because the algorithm is partly random you may notice the graphs moving slightly despite no new data arriving.</p>

<h2>Goals per share</h2>
<p>The dot for each variant shows the current goals per share. The lines to either side indicate a confidence interval - meaning that it is very likely the "true" goals per share lies somewhere within this range. As you gather more data the confidence interval will shrink and hopefully one variant will pull into a clear lead.</p>
