<div class="row">
  <div class="col-md-12">
    <h1>New Meme</h1>
    <%= form_for @template_image, url: {action: 'create'} do |f| %>

      <div class="form-group">
        <label>Name</label><br />
        <%= f.text_field :name, autofocus: true, required: true, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Create", class: 'btn btn-primary' %>
      </div>

    <% end %>
  </div>
</div>
